<div>
    <table>
    	<thead>
    		<td>Player Name</td>
    	</thead>
        <tbody>
            {{#each players }}
                <tr class="player-info">
                	<td class="player-name-{{ this.id }}">{{ this.name }}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
	 <div id="player-controls">
	     {{outlet}}
	 </div>
    <input type="text" id="player-name"/> <button id="sign-in">Sign In</button>
</div>
